 .hidden {
    display: none;
}
.form .error-container {
    position: absolute;
    width: 100%;
    bottom: -28px;
    left: 0;
    right: 0;
}

.form .errors {
    text-align: center;
    color: #fc3c3c;
    font-size: 14px;
    font-weight: bold;
}

.form .autocomplete-container {
    /*position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    */
    background: white;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-top: 1px solid #d0d0d0;
}

.form .autocomplete-box {
    width: 100%;
    color: #555;
    text-align: center;
}

.form .select-option {
    box-sizing: border-box;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
}

.form .select-option:hover {
    background: #d0d0d0;
}

.form .last-name input {
    border-left: 0;
}

.form .select-option.empty {
    text-align: center;
}

.form .google-logo {
    background-image: url(powered_by_google_on_white.png);
    background-position: right;
    background-repeat: no-repeat;
    height: 18px;
    margin-right: 6px;
    margin-bottom: 2px;
}

 @media screen and (min-width: 600px) {
   
    .form .autocomplete-container {
        width: calc(100% - 160px);
    }

    .form .autocomplete-box {
        text-align: left;
    }
}