svg {
  fill: currentColor;
}
.invert{color:#fff;mix-blend-mode:difference;-webkit-font-smoothing:antialiased}

.ampstart-headerbar {
    background-color: #000;
    /*background: transparent;*/
    color: #fff; 
    z-index: 999;
    opacity: 0.8;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1)
}

.ampstart-headerbar+:not(amp-sidebar),
.ampstart-headerbar+amp-sidebar+* {
    margin-top: 3.5rem
}

.ampstart-headerbar-nav .ampstart-nav-item {
    padding: 0 1rem;
    background: transparent;
    opacity: .8
}

.ampstart-headerbar-nav {
    line-height: 3.5rem
}

.ampstart-nav-item:active,
.ampstart-nav-item:focus,
.ampstart-nav-item:hover {
    opacity: 1
}

.ampstart-navbar-trigger:focus {
    outline: none
}

.ampstart-nav a,
.ampstart-navbar-trigger,
.ampstart-sidebar-faq a {
    cursor: pointer;
    text-decoration: none
}

.ampstart-nav .ampstart-label {
    color: inherit
}

.ampstart-navbar-trigger {
    line-height: 3.5rem;
    font-size: 1.25rem
}

.ampstart-headerbar-nav {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.ampstart-nav-search {
    -webkit-box-flex: 0.5;
    -ms-flex-positive: 0.5;
    flex-grow: 0.5
}

.ampstart-headerbar .ampstart-nav-search:active,
.ampstart-headerbar .ampstart-nav-search:focus,
.ampstart-headerbar .ampstart-nav-search:hover {
    box-shadow: none
}

.ampstart-nav-search>input {
    border: none;
    border-radius: 3px;
    line-height: normal
}

.ampstart-nav-dropdown {
    min-width: 200px
}

.ampstart-nav-dropdown amp-accordion header {
    background-color: #000;
    background: transparent;
    opacity: .8
    border: none
}

.ampstart-nav-dropdown amp-accordion ul {
    background-color: #000
}

.ampstart-nav-dropdown .ampstart-dropdown-item,
.ampstart-nav-dropdown .ampstart-dropdown>section>header {
    background-color: #000;
    color: #fff
}

.ampstart-nav-dropdown .ampstart-dropdown > section > header,
.ampstart-nav-dropdown .ampstart-dropdown-item {
    background-color: #000;
    color: #fff
}


.ampstart-nav-dropdown .ampstart-dropdown-item {
    color: #fff
}

.ampstart-sidebar {
    background-color: #000;
    color: #fff;
    min-width: 300px;
    width: 300px
}

.ampstart-sidebar .ampstart-icon {
    fill: #fff
}

.ampstart-sidebar-header {
    line-height: 3.5rem;
    min-height: 3.5rem
}

.ampstart-sidebar .ampstart-dropdown-item,
.ampstart-sidebar .ampstart-dropdown header,
.ampstart-sidebar .ampstart-faq-item,
.ampstart-sidebar .ampstart-nav-item,
.ampstart-sidebar .ampstart-social-follow {
    margin: 0 0 2rem
}

.ampstart-sidebar .ampstart-nav-dropdown {
    margin: 0
}

.ampstart-sidebar .ampstart-navbar-trigger {
    line-height: inherit
}

.ampstart-navbar-trigger svg {
    pointer-events: none
}

